
<li>
  <h3># <%= index %></h3>
  <a class='image_link' href='<%= item.url%>' target='_blank'><img src='<%= item.small_image_url%>'/></a>
  <h2><a href='<%= item.url%>' target='_blank'><%= h item.name%></a></h2>
  <p><%= h item.description %></p>
  <br/>
</li>
