<%
additem ||= false
-%>
<li data-item-id='<%= item.id%>' id='item_<%= item.id%>'>
<a name='item_scroll_<%= item.id%>' id='item_scroll_<%= item.id%>'></a>
  <h3># <%= index %></h3>
  <% if item.large_image_url %>
  <a class='image_link' href='<%= item.url%>' target='_blank'><img src='<%= item.large_image_url%>'/></a>
<% elsif @generating_thumbnail-%>
  <a class='image_link' href='<%= item.url%>' target='_blank'><img src='/components/ranked_by/images/loading.gif'/></a>
  <% end -%>
  <h2  id='item-title-<%= item.id%>' <%= "class='edit'" if editable %>><%= h item.name%></h2>
  <p id='item-description-<%= item.id%>' <%= "class='editarea'" if editable %>><%= h item.description%></p>
  <% if editable %>
  <a class='delete' href='javascript:void(0);'>remove</a>
<% end -%>

<% if additem -%>
<script>
jQuery(function() {
$.scrollTo('#item_scroll_<%= item.id%>', 800, {axis: 'y'});
});
</script>
<% end -%>
</li>

